*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
!Film-Streamer.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
build-manual/
*.log
*.keystore
!debug.keystore
